body,h1,h2,h3,h4,p,dl,dd,ul,ol,form,input,textarea,th,td,select{margin: 0;padding: 0;}
em{font-style: normal;}
li{list-style: none;}
a{text-decoration: none;}
img{border: none;vertical-align: top;}
table{border-collapse: collapse;}
input,textarea{outline: none;}
textarea{resize:none;overflow: auto;}
.clear {
  zoom: 1;
}
.clear:after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}

html, body{
  width: 100%;
  height: 100%;
}
#app{
  height: 100%;
}
.el-menu{
  border: none;
}
.el-menu-item .fa,
.el-submenu .fa{
  margin-right: 10px;
}
.el-upload{
  margin: 0 10px;
  width: 280px;
}
.el-upload-dragger{
  width: 100%;
}

.area-scroll::-webkit-scrollbar {
  width: 6px;
  height: 1px;
}
.area-scroll::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius: 6px;
  background: #ccc;
}
.area-scroll::-webkit-scrollbar-track {/*滚动条里面轨道*/
  border-radius: 6px;
  background: #fff;
}